<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
  	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/angular.rangeSlider.css">



<body ng-controller="vizController">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
          <p class="navbar-brand">Republican Primary Twitter Tracker</p>
          <p class="nav-small-red">Group Project for 'Scaling Up: Really Big Data', by Matthew Hayes, Joshua Lu, Tao Mao and Janak Mayer</p>
      </div>

    </nav>
    <div class="container">
        <div class="row">

            <div class="col-sm-4">

                <div class="well">
                        <p>A few short explanatory sentences could go here</p>
                        <p>A few short explanatory sentences could go here</p>
                </div>

                <div class="well">
                    <form class="form-horizontal">

                        <div range-slider orientation="horizontal" min="demo1.min" max="demo1.max" model-min="demo1.model_min" model-max="demo1.model_max" filter="date:'MM/dd/yyyy h:mma'"></div>
                        <div class="form-group">
                          <label for="hashtagFilter">Select Candidates to Compare: </label>
                          <ui-select id="hashtagFilter" multiple ng-model="params.candidatesSelected" theme="select2" ng-click="updateData()">
                              <ui-select-match placeholder="Select candidates to compare...">{{$item}}</ui-select-match>
                              <ui-select-choices repeat="candidate in params.candidates | filter:$select.search">{{candidate}}</ui-select-choices>
                          </ui-select>
                        </div>

                        <div class="form-group">
                          <label for="minFollowers">Graph as Absolute or Percent?</label>
                          <select id="minFollowers" class="form-control" data-ng-model="stacking" data-ng-options="opt as opt.label for opt in stackingOpts"></select>
                        </div>

                    </form>
                </div>



                <div class="well">

                    <p>Clicked Candidate: <strong>{{clicked.candidate}}</strong></p>
                    <p>Clicked Time: <strong>{{clicked.time}}</strong></p>

                    <p>Based on the clicked candidate and time...</p>

                    <p>...we can make a second API call to get back the tweets, which will prevent overloading the UI with all the tweets for all the candidates and times</p>

                </div>

            </div>

            <div class="col-sm-8">

                <highchart ng-repeat="data in newData" config="data" class="span10"></highchart>

            </div>

        </div>
    </div>



    <!-- Angular scripts-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="assets/js/angular.js"></script>
    <!-- highcharts.js-->
    <script src="http://code.highcharts.com/stock/highstock.src.js"></script>
    <script src="assets/js/highcharts-ng.js"></script>

    <!-- angular bootstrap -->
    <script src="assets/js/ui-bootstrap-tpls-0.12.1.min.js"></script>

    <!-- ui select and rangeslider-->
    <script src="assets/js/select.js"></script>
    <script src="assets/js/angular.rangeSlider.js"></script>

    <script src="app/app.js"></script>
    <script src="app/directives.js"></script>
    <script src="app/services.js"></script>
    <script src="app/controllers.js"></script>

</body>

</html>