<div class="with-3d-shadow with-transitions">
    <p>{{data}}</p>



    <!--<div class="row multi-columns-row">-->
        <!--<div class="col-sm-3 col-sm-offset-3">-->
            <!--<select id="v" ng-model="v"-->
                    <!--ng-options="v for v in vars" class="form-control">-->
            <!--</select>-->
            <!--</div>-->
        <!--<div class="col-sm-3">-->
            <!--<select id="grouping" ng-model="grouping"-->
                    <!--ng-change="getData()"-->
                    <!--ng-options="g for g in groupings" class="form-control">-->
            <!--</select>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row multi-columns-row">-->
        <!--<div class="col-sm-12">-->
            <!--<bar-chart ng-repeat="chart in data" data="chart" grouping="{{grouping}}" v="{{v}}"></bar-chart>-->
        <!--</div>-->
    <!--</div>-->
</div>